@tailwind base;
@tailwind components;
@tailwind utilities;

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
[x-cloak] {
    display: none;
}
@layer components {
    .title {
        @apply text-2xl font-bold underline;
    }
}
